.tip_group{
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.label_group{
    display: flex;
    justify-content: space-between;
    margin: 1.5rem 0 1rem 0;
}


.label_group label{
    font-size: 1rem;
    font-weight: 700;
    
    user-select: none;
}

.percentage_button_group{
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-around;
gap: 1rem;
margin-bottom: 0.6rem;
}

.btn{
    width: 7.25rem;
    height: 3rem;
    border-radius: 0.3125rem;
    border: none;
    background-color: #00494D;
    font-family: Space Mono;
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    padding: 0 1rem;
}

@media screen and(max-width: 926px) {
    .percentage_button_group{
        justify-content: space-evenly;
    }
}

.btn:hover{
    background-color: #C5E4E7;
    color: #00494D;
    cursor: pointer;
}

.active{
    background-color: #26C0AB;
    color: white;
}

.custom_button_prompt{
    color: #26C0AB;
}

.text_button{
    outline: none;
    border: 2px #26C0AB solid;
    background-color: #C5E4E7;
    color: #00494D;
}