*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-family: 'Space Mono', monospace;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body{
  height: 100vh;
}
